@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link {
    @apply text-white font-semibold cursor-pointer relative 
     after:content-[''] after:absolute after:h-[3px] after:w-full
    after:block after:bg-yellow-300 after:scale-x-0 after:hover:scale-x-100 after:origin-center
    after:transition after:duration-300 ;
  }
  .title{
    @apply font-bold lg:text-xl md:text-lg text-sm mb-6 relative items-center mx-auto 
      after:absolute after:mt-2 after:ms-[38%] after:w-1/4 after:h-1 after:bg-[#55e6a5] after:block
  }
}
